/******Main CSS******/
*{
	padding: 0;
	margin: 0;
	font-family: "Raleway", sans-serif;
}
body{font-size: 16px;}
/**********Register Form and Log In form***********/
#form-bg{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #000;

}
a{text-decoration: none!important;}
#form-box{
	width: 380px;
	height: 500px;
	padding: 10px;
	margin: 6% auto;
	background: #fff;
	position: relative;
	overflow: hidden;
	
	}
#button-box{
	width: 220px;
	margin: 30px auto;
	position:relative; 
	box-shadow: 0 0 20px 9px #138086;
	border-radius: 30px;
}
#btn{
	top: 0;
	left: 0;
	width: 110px;
	height: 100%;
	position: absolute;
	border-radius: 25px;
	background: linear-gradient(to right, #A9F99E,#46ADD5);
	transition: .5s;

}
.toggle-btn{
	border: 0;
	outline: none!important;
	cursor: pointer;
	padding: 10px 25px;
	position: relative;
	background: transparent;
	
}
/**#***********User Icon*************/
.user-img {
	text-align: center;	

}
.user-img img{
	width: 100px;
	border-radius: 50%;

	
}
/**#************************
#social-icon{
	margin: 30px auto;
	text-align: center;	
}
#social-icon a{
	width: 30px;
	margin: 0 12px;
	padding: 10px 15px;
	border-radius: 50%;
	background: linear-gradient(to right, #A9F99E,#46ADD5);
}
#social-icon a: i{
	color: #000;
	box-shadow: 0 0 20px 9px #138086;
}***************************************/
.input-group{
	width: 280px;
	top: 210px;
	position: absolute;
	transition: .5s;
	display: inline-block;

	}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #46ADD5;
	outline: none;

	background: transparent;
}
.submit-btn{
	width: 85%;
	border:0;
	font-weight: 300;
	outline: none!important;
	border-radius: 30px;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #A9F99E,#46ADD5);
}



.check-box{margin: 30px 10px 20px 0; }
/**.person-check-box{margin: 10px 20px;}**/
.remeber-box{
	color: #000;
	font-size:12px;	
	
}

.uses-options{}
.register-btn-style{margin-top: 10px;}
.user-option{color: #000;font-size: 14px;}
.user-option{}
input[type="radio"] {
	padding: 0 10px;
    box-sizing: border-box;

}

#login-form{left: 50px;}
#register-form{left: 450px;}


/*************Login CSS End*************/
/*************User Information Form CSS Start*************/

.row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.section{
	background: linear-gradient(to right, #A9F99E,#46ADD5);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
header, main{
	display: block;
	position: relative;
	z-index: 1;
}
header{
    padding: 48px;
    @media (max-width: 440px){
        padding: 48px 24px;
    }
    >h3{
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    >h4{
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 1px;
    }
}
main{
    flex: 1;
    padding: 0 48px;
    @media (max-width: 440px){
        padding: 0 24px;
    }
}


#user-form{
	height: 100%
	display:flex;
	justify-content: center;
	flex-direction: column;
}
label{
	color: #000;
	font-size: 16px;
	font-weight: 300;
}
small{
	display: none;
	&.errorOnce{
		margin-top: 2px;
	}
}
.user-form-item 
input[type="text"],
input[type="email"]{
		display: block;
      	color: #000;
        font-size: 16px;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #75759E;
        padding: 8px 0;
        appearance: none;
        outline: none;

}

  
 small{
        /*letter-spacing: 1px;*/
    }
    i{font-size:12px;color: red;} 

.box-item{
	height: 60px;
	margin-bottom: 16px;
}

.user-form-item-double{
	display: flex;
}

.user-form-double-item:nth-child(1){padding-right: 16px!important;}
	.user-form-double-item:nth-child(2){padding-left: 16px!important;}

.user-form-double-item{
		flex: 1 1 auto!important;
	}

.birth-label{vertical-align: middle;padding-top: 16px;}
	

.user-form-item-triple{
    display: flex;
    align-items: center;
    padding-top: 6px;
 }
 .radio-label{
        flex: 1 1 auto;
        text-align: left;
        label{
            display: inline-block;
            vertical-align: middle;
        }
    }
 .user-form-inner-item{
        flex: 3 1 auto;
        text-align: center;
        margin: 0;
      }   
label,input[type="radio"]{
            display: inline-block;
            vertical-align: middle;
            margin: 0 4px;
        }
.error-req{}

#submit{
	display: inline-block;
    font-size: 18px;
    text-color: #000;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 48px;
    margin-top: 32px;
    border: 2px solid #75759E;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease .2s;
    background: linear-gradient(to right, #A9F99E,#46ADD5);
    &:hover{
        background-color: #46ADD5;
        border: 2px solid #A9F99E;
    }
}

.wave{
  position: absolute;
  top: 0;
  left: 50%;
  width: 800px;
  height: 800px;
  margin-top: -600px;
  margin-left: -400px;
  background: linear-gradient(to right, #A9F99E,#46ADD5);
  border-radius: 40%;
  animation: shift 20s infinite linear;
  z-index: 0;
}
@keyframes shift{
  from{
    transform: rotate(360deg);
  }
}
/*************User Information Form CSS End*************/
/*************App Theme*************/
.theme-main{}
#theme-main{
	background: linear-gradient(to right, #A9F99E,#46ADD5);
	position: relative;
	overflow: hidden;
	width: 500px;
	top: 20px;
	flex-direction: column;
	justify-content: center;
}


		
.border-wv{
  margin: 0 auto;
  width: 400px; 	
  height: 100px; 	
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;}			
.wav-one-bg {
  height: 220px;
  background: radial-gradient(circle closest-side, #8039E1 , #8039E1);
 }

.wav-one-bg:before,
.wav-one-bg:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px; /*h/2*/
  height: 45px; /*h*/
  background: radial-gradient(closest-side, #fa5855, #fa5855 50%, transparent 50%);
  /*or farthest-side*/
  background-size: 50px 50px; /*h h*/
  background-position: 0 25px; /*0 h/2*/
  background-repeat: repeat-x;
}
.wav-one-bg:after {
  background: radial-gradient(
    closest-side,
    transparent,
    transparent 50%,
     #fa5855 50%
  );
  /*or farthest-side*/
  background-size: 50px 50px; /*h h*/
  background-position: 25px -25px; /*h/2 -h/2*/
  background-repeat: repeat-x;
  bottom: -25px;
}


.two {
  
  background: radial-gradient(circle 80px, #fa5855, #fa5855);
}

.two:before,
.two:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px; /*h/2*/
  height: 45px; /*h*/
  background: radial-gradient(closest-side, #21cf9a, #21cf9a 50%, transparent 50%);
  /*or farthest-side*/
  background-size: 50px 50px; /*h h*/
  background-position: 0 25px; /*0 h/2*/
  background-repeat: repeat-x;
}
.two:after {
  background: radial-gradient(
    closest-side,
    transparent,
    transparent 50%,
     #21cf9a 50%
  );
  /*or farthest-side*/
  background-size: 50px 50px; /*h h*/
  background-position: 25px -25px; /*h/2 -h/2*/
  background-repeat: repeat-x;
  bottom: -25px;
}


.three {
   background: radial-gradient(circle, #21cf9a, #21cf9a 150px);
}



.three:before,
.three:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px; /*h/2*/
  height: 45px; /*h*/
  background: radial-gradient(closest-side, #d4558c, #d4558c 50%, transparent 50%);
  /*or farthest-side*/
  background-size: 50px 50px; /*h h*/
  background-position: 0 25px; /*0 h/2*/
  background-repeat: repeat-x;
}
.three:after {
  background: radial-gradient(
    closest-side,
    transparent,
    transparent 50%,
     #d4558c 50%
  );
  /*or farthest-side*/
  background-size: 50px 50px; /*h h*/
  background-position: 25px -25px; /*h/2 -h/2*/
  background-repeat: repeat-x;
  bottom: -25px;
}

.four {
background: radial-gradient(circle farthest-side, #d4558c, #d4558c 150px);
}

.four:before,
.four:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px; /*h/2*/
  height: 45px; /*h*/
  background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%);
  /*or farthest-side*/
  background-size: 50px 50px; /*h h*/
  background-position: 0 25px; /*0 h/2*/
  background-repeat: repeat-x;
}
.four:after {
  background: radial-gradient(
    closest-side,
    transparent,
    transparent 50%,
     #fff 50%
  );
  /*or farthest-side*/
  background-size: 50px 50px; /*h h*/
  background-position: 25px -25px; /*h/2 -h/2*/
  background-repeat: repeat-x;
  bottom: -25px;
}

.border-wv-inner i{font-size: 35px !important;}



.border-wv ul{list-style: none;padding: 0;}
.border-wv ul li{display: inline-block; margin: 10px 40px;}
.border-wv ul li a i, span{text-decoration: none;color:#fff;font-size: 20px;} 
 }
.wav-one-content ul li a i, span{
	
	
}

.wav-one-content{}

/*==============nav css start===============*/

.navbar {
  background-color: transparent;
  top: -30px;
}

.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar sup{
	font-size: 16px;
	color:#000;
	background: red;
	border-radius: 20px;
	padding: 5px;top: -20px;
	left: -10px;
}

.dropdown {
  float: left;
  position: relative;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #8039E1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8039E1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.navbar i{color:#fff;}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #8039E1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*==============nav css end===============*/

